body{
    background: rgba(red, green, blue, alpha);
    background-color: skyblue;

}
h1{
    justify-content: center;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}